/* RESET CSS */
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* CONTAINER */
.container {
    display: flex;
    margin: 30px 200px 0;
}

/* HEADER */
.dados {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.dados p {
    font-size: 25px;
    font-weight: 600;
}

.fa-solid {
    font-size: 40px;
    margin-right: 15px;
}

header .container {
    border-bottom: 2px solid lightgray;
    padding: 0 30px;
}