/* RESET CSS */
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* CONTAINER */
.container {
    display: flex;
    margin: 1.875rem 12.5rem 0;
}

/* HEADER */
.dados {
    display: flex;
    align-items: center;
    margin-bottom: .9375rem;
}

.dados p {
    font-size: 1.5625rem;
    font-weight: 600;
}

.fa-solid {
    font-size: 2.5rem;
    margin-right: .9375rem;
}

header .container {
    border-bottom: .125rem solid rgb(0, 0, 0);
    padding: 0 1.875rem;
}

.financas {
    width: 80vw;
}


/* RESUMO */
.resumo, 
.proximo-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 30px;
}

.resumo p {
    margin: 0 40px;
    border: 1px solid #e4e4e4;
    padding: .9rem .9375rem;
    border-radius: .4rem;
    box-shadow: 1px 1px rgb(225, 225, 225);
    font-size: 20px;
}

/* PROXIMO ITEM */
.div-valor, 
.div-descricao, 
.div-tipo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.proximo-item div {
    margin: 0 20px;
}

.div-valor input, 
.div-descricao input,
.div-tipo select {
    border: 1px solid rgb(27, 24, 24);
    border-radius: 5px;
    padding: 3px 5px;
    font-size: 15px;
}


.div-descricao label,
.div-valor label,
.div-tipo label {
    margin: 0 0 8px 0;
    font-size: 18px;
}

.div-botao button {
    background-color:  #601360;
    color: #fff;
    padding: 7px 10px;
    border-radius: 7px;
    font-size: 20px;
    cursor: pointer;
}


/* TABELA */
.coluna-acao button {
    background-color: rgba(255, 255, 255, 0);
}

th{
    font-size: 18px;
    border-bottom: 1px solid #601360;
}

td {
    width: 150px;
    text-align: center;
}

.tabela {
    display: flex;
    justify-content: center;
}
table {
    margin-top: 30px;
}

